<div *ngIf="isLoading">
  <p>Loading recipes...</p>
</div>

<app-item-list
  [items]="recipes"
  route="/recipe-details"
  title="Recipes">
</app-item-list>

  <!-- Pagination Controls -->
  <div class="pagination-controls">
    <button (click)="prevPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>

<ng-template #noRecipes>
  <p>No recipes available.</p>
</ng-template>
