.pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

mat-card-title {
  text-align: center;
  padding: 20px;
}

mat-card {
  margin: 20px;
}
