a {
  cursor: pointer;
}

.list-container {
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

mat-nav-list {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  overflow: hidden;
}

a[mat-list-item] {
  color: #666;
  transition: background-color 0.3s, color 0.3s;
}

a[mat-list-item]:hover {
  background-color: #e0f7fa;
  color: #000;
}

mat-card {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  min-height: 90vh;
}

