<mat-card>
  <div *ngIf="item; else noRecipe">
    <mat-card-title>{{ item.name }}</mat-card-title>
    <mat-card-content>
      <p>
        <span *ngIf="item.prepTime"> prep time: {{item.prepTime}} </span>
        <span *ngIf="item.cookTime"> cook time: {{item.cookTime}} </span>
        <span *ngIf="item.servingSize"> serving size: {{item.servingSize}}</span>
      </p>
      <p>Ingredients:</p>
      <ul>
        <li *ngFor="let ingredient of item.recipeIngredients">
          {{ ingredient.ingredient.name }}
          {{ingredient.quantity}}
          {{ingredient.measurementUnit?.abbreviation}}</li>
      </ul>
      <p>Instructions:</p>
        {{item.instructions}}
    </mat-card-content>
  </div>

  <ng-template #noRecipe>
    <p>This recipe doesn't exist.</p>
  </ng-template>
</mat-card>
