a {
  cursor: pointer;
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  font-weight: bold;
  font-size: 24px;
  color: var(--primary-color);
  text-decoration: none;
  flex-grow: 1;
  cursor: pointer;
}

.left-align, .right-align {
  display: flex;
  align-items: center;
}

.right-align {
  justify-content: flex-end;
}

.left-align {
  justify-content: flex-start;
}

.mat-button {
  font-size: 16px;
  margin-left: 12px;
}
